<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Snippet is Saved</title>
</head>
<style>
    body {
        margin-top : 15%;
        background-color : #d8f8b7;
    }
</style>
<body>
<h1 style="text-align:center;font-size:70px;">Snippet Saved</h1>
<div>
    <p style="text-align:center;font-size:44px;"> Your snippet is Available at
        <a href="http://localhost:8889/code/{uuid}">http://localhost:8889/code/{uuid}></a>
    </p>
    <p style="text-align:center;font-size:22px;font-weight:bold;">
        Available for Viewing only {times} Times and till {seconds} for the respective snippet.
    </p>
</div>
</body>
</html>